@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #3b5998;
    --background: #f0f2f5;
    --background-secondary: #e9eaef;
    --button: #3b5998;
    --button-text: #ffffff;
    --logo-body: #3b5998;
    --gradient-primary: linear-gradient(to right, #3b5998, #4267b2, #5578c2);
  }
  .dark {
    --primary: #7289da;
    --background: #36393f;
    --background-secondary: #2f3136;
    --button: #7289da;
    --button-text: #ffffff;
    --logo-body: #7289da;
    --gradient-primary: linear-gradient(to right, #6278c4, #7289da, #8096e4);
  }
}

.radix-themes {
  --default-font-family: var(--rubik);
}
